<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all genres</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .genres {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .genres tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .genres td:last-child, td:first-child {
            width: 50px;
        }
    </style>
    <script>
        function createGenre(genre) {
            const tr = document.createElement('tr');
            tr.innerHTML = `
                        <td>${genre.id}</td>
                        <td>${genre.name}</td>
                    `;
            return tr;
        }
    </script>
    <script>
        async function getAllGenres() {
            fetch('/api/v1/genres')
                .then(response => response.json())
                .then(json => json.forEach(g => document.querySelector('tbody').appendChild(createGenre(g))));
        }
    </script>
</head>
<body onload="getAllGenres()">
<h3>Genres:</h3>

<table class="genres">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>
<br>
<br>
<span>
    <a href="../books/allBooks.html" th:href="@{/}"> Back to All Books </a>
</span>
</body>
</html>