<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8"/>
    <title>List of all book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .book {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .book tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .book td:last-child, td:first-child {
            width: 50px;
        }
    </style>
</head>
<body>
<div th:fragment="logout" class="logout" sec:authorize="isAuthenticated()">
    <i>Logged user:</i> <b><span sec:authentication="name">Otus</span></b>
    <form th:action="@{/logout}" method="post" style="display:inline;margin-left:10px">
        <input type="submit" value="Logout"/>
    </form>
</div>
<h3>Books:</h3>

<span sec:authorize="hasRole('ADMIN')">
    <a href="createBook.html" th:href="@{/create}"><button type="button">Add book</button></a>
</span>
<br>
<br>

<table class="book">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Genres</th>
        <th sec:authorize="hasRole('ADMIN')">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}" th:object="${book}">
        <td th:text="*{id}">1</td>
        <td th:text="*{title}">Title</td>
        <td th:text="*{author.fullName}">John Doe</td>
        <td th:text="*{genre.name}">Comedy</td>
        <td sec:authorize="hasRole('ADMIN')">
            <form th:action="@{/edit/{id}(id=${book.id})}" th:method="get">
                <button>Edit</button>
            </form>
            <form th:action="@{/delete/{id}(id=${book.id})}" th:method="post">
                <button>Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<br>
<br>
<span>
    <a href="../authors/allAuthors.html" th:href="@{/authors}"><button type="button">Authors</button></a>
    <a href="../genres/allGenres.html" th:href="@{/genres}"><button type="button">Genres</button></a>
</span>
</body>
</html>
