<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>List of all persons</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .persons {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .persons tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .persons td:last-child, td:first-child {
            width: 50px;
        }
    </style>
</head>
<body>

<h3>Add Book:</h3>

<form action="#" th:action="@{/save}" th:object="${book}" method="post">
    <span>
        <input type="submit" id="submitButton" value="Save">
        <input type="reset" id="resetButton" value="Reset"/>
        <a href="allBooks.html" th:href="@{/}"><button type="button">Cancel</button></a>
    </span>
    <br>
    <br>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td><input th:field="*{title}" required/></td>
            <td>
                <select th:field="*{author}" id="author">
                    <option th:each="authorSelect : ${authors}" th:value="${authorSelect.id}" th:text="${authorSelect.fullName}"/>
                </select>
            </td>
            <td>
                <select th:field="*{genre}" id="genre">
                    <option th:each="genreSelect : ${genres}" th:value="${genreSelect.id}" th:text="${genreSelect.name}"/>
                </select>
            </td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>
