<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        #id-input {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<div th:fragment="logout" class="logout" sec:authorize="isAuthenticated()">
    <i>Logged user:</i> <b><span sec:authentication="name">Otus</span></b>
    <form th:action="@{/logout}" method="post" style="display:inline;margin-left:10px">
        <input type="submit" value="Logout"/>
    </form>
</div>

<!-- book edition -->
<form id="edit-form" action="editBook.html" th:method="post" th:action="@{/edit(id=${book.id})}" th:object="${book}">
    <h3>book Info:</h3>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" value="1" th:value="*{id}"/>
    </div>

    <div class="row">
        <label for="book-title-input">Title:</label>
        <input id="book-title-input" name="title" type="text" value="John Doe" th:value="*{title}"/>
    </div>

    <div class="row" >
        <label for="book-author-input">Author:</label>
        <select id="book-author-input" th:field="*{author}">
            <option th:each="authorSelect : ${authors}" th:value="${authorSelect.id}" th:text="${authorSelect.fullName}" th:selected="${authorSelect.id==book.author}"/>
        </select>
    </div>

    <div class="row" >
        <label for="book-genre-input">Genre:</label>
        <select id="book-genre-input" th:field="*{genre}">
            <option th:each="genreSelect : ${genres}" th:value="${genreSelect.id}" th:text="${genreSelect.name}" th:selected="${genreSelect.id==book.genre}"/>
        </select>
    </div>

    <div class="row">
        <button type="submit">Save</button>
        <a href="allBooks.html" th:href="@{/}"><button type="button">Cancel</button></a>
    </div>
</form>

</body>
</html>