<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="ioService" class="ru.otus.hw.service.StreamsIOService">
        <constructor-arg index="0">
            <util:constant static-field="java.lang.System.out"/>
        </constructor-arg>
    </bean>

    <bean id="testService" class="ru.otus.hw.service.TestServiceImpl">
        <constructor-arg index="0" ref="ioService"/>
        <constructor-arg index="1" ref="csvQuestionDao"/>
        <constructor-arg index="2" ref="questionConverter"/>
    </bean>

    <bean id="testRunnerService" class="ru.otus.hw.service.TestRunnerServiceImpl">
        <constructor-arg index="0" ref="testService"/>
    </bean>

    <bean id="appProperties" class="ru.otus.hw.config.AppProperties">
        <constructor-arg index="0" value="questions.csv"/>
    </bean>

    <bean id="csvQuestionDao" class="ru.otus.hw.dao.CsvQuestionDao">
        <constructor-arg index="0" ref="appProperties"/>
    </bean>

    <bean id="questionConverter" class="ru.otus.hw.converter.QuestionConverterImpl"/>
</beans>